/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family: Arial, Helvetica, sans-serif;
}
img, a {
    display: block;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Меню */
.menu {
    background-color: #BD8484;
}
.menu .container {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.menu__link {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}
.menu .container .menu__link:nth-child(4) {
    padding: 6px 14px;
    background-color: #B67B7B;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.menu__link:hover {
    color: #895d5d;
}
.menu .container .menu__link:nth-child(4):hover {
    background-color: #f09f9f;
}
.menu .container .menu__link:nth-child(4):active {
    color: #ffc7c7;
    background-color: #574040;
}
@media (max-width: 1024px) {
    .menu .container {
        height: 60px;
        gap: 76px;
    }
    .menu__link {
        font-size: 28px;
    }
}
@media (max-width: 767px) {
    .menu__link {
        display: none;
    }
}

/* main */
.main {
    background-color: #F5E9E9;
}
.main .container h1 {
    position: relative;
    z-index: 2;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    max-width: 700px;
    padding: 122px 0 24px 76px;
}
.main .container p {
    position: relative;
    z-index: 2;
    font-weight: 900;
    font-size: 128px;
    line-height: 155px;
    color: #D59D9D;
    padding: 0 0 35px 76px;
}
.main .container a {
    position: relative;
    z-index: 2;
    display: inline-block;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    background-color: #C97777;
    padding: 26px 50px;
    border-radius: 10px;
    margin: 0 0 215px 76px;
}
.main .container {
    position: relative;
}
.main .container img {
    position: absolute;
    max-width: 918px; 
    right: 0;
    bottom: 0;
    z-index: 1;
}
.main .container a:hover {
    background-color: #f09f9f;
}
.main .container a:active {
    color: #ffc7c7;
    background-color: #574040;
}
@media (max-width: 1024px) {
    .main .container h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .main .container p {
        font-size: 106px;
        line-height: 124px;
    }
    .main .container a {
        font-size: 40px;
        line-height: 48px;
        padding: 22px 40px;
    }
    .main .container img {
        max-width: 818px;
    }
}
@media (max-width: 767px) {
    .main .container h1, .main .container p {
        padding-left: 30px;
        padding-right: 30px;
    }
    .main .container a {
        margin-left: 30px;
        margin-bottom: 185px;
        font-size: 36px;
        padding: 20px 36px;
    }
    .main .container p {
        font-size: 96px;
    }
    .main .container h1 {
        padding-top: 96px;
    }
    .main .container img {
        max-width: 600px;
    }
}
/* importance */
.importance {
    background-color: #E1F1DB;
}
.importance__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #800000;
    text-align: center;
    padding: 40px 0 0 0;
    margin: 0 0 40px 0;
}
.columns {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}
.column img {
    max-width: 190px;
    margin: 0 0 10px 0;
}
.column h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin: 0 0 37px 0;
}
.column p {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #000000;
}
.columns {
    padding: 0 0 70px 0;
}
@media (max-width: 1024px) {
    .importance__title {
        font-size: 40px;
        line-height: 48px;
    }
    .column {
        max-width: 260px;
    }
    .column img {
        max-width: 150px;
    }
    .column h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .column p {
        font-size: 22px;
        line-height: 28px;
    }
    .columns {
        gap: 5%;
    }
}
@media (max-width: 767px) {
    .columns {
        flex-direction: column;
        align-items: center;
    }
    .column {
        margin-top: 40px;
        max-width: 500px;
    }
}

/* candidates */
.candidates {
    background-color: #FCD4D4;
}
.candidates__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #000000;
    padding: 44px 0 0 0;
    margin: 0 0 55px 0;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 27px;
    padding: 0 0 57px 0;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img {
    display: block;
    width: 305px;
    height: 340px;
    background-color: #e4e4e4;
    border: 23px solid #9C7878;
    margin: 0 0 20px 0;
}
.card p {
    width: 300px;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 0;
}
@media (max-width: 1024px) {
    .candidates__title {
        font-size: 40px;
        line-height: 48px;
    }
    .cards {
        flex-wrap: wrap;
    }
}
@media (max-width: 767px) {
    .card p {
        font-size: 36px;
        line-height: 42px;
    }
}